@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,100;1,400&display=swap" rel="stylesheet">);

:root
{
    --main-color: #d10a11;
    --black-color: #0e0e0e;
    --border: 0.1rem solid rgba(255,255,255,0.4);
    }


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: 0;
    outline: 0;
    border: 0;
    text-decoration: 0;
    text-transform: 0;
    transition: 0;
}

/*! base html codes */

html 
{

    font-size: 62.5%,
    overfloow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behovior: smooth;

}

body 
{

    background-color: var(--main-color);
    height: 200vh;
     
}

section
{
    padding: 3.5rem 7%;
}

.btn
{
margin-top: 1rem;
display: inline-block;
padding: 2rem 3.75rem;
border-radius: 30rem;
font-size: 1.7rem
color: #fff;
background-color: var(--black-color);
cursor: pointer;
}


.title 
{

    font-size: 1.25;
}

.logo img
{
    height: 8rem;

}

/* header start*/
.header .logo img 
{
    height: rem;
}

.header 
{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    position: sticky;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .navbar a 
{
    margin: 0.1rem;
    font-size: 1.5rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;
}

.header .navbar a:hover
{
    border-color: var(--main-color);
    padding-bottom: 0.5rem;
}

.header .buttons button
{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
}

/* header end */

/* Home Start */

.home
{
    min-height: 100vh;
    background: url(../images/anasayfatümtrading.jpg)
    no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -12.2rem;
    display: flex;
    align-items: center;
}

.home .content
{
    max-width: 60rem;
}

.home .content h3
{
    font-size: 6rem;
}


/* Home end */

/* uzmanlıklarımız start */

.Uzmanlıklarımız .box-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

{
    padding: 3rem;
    background-color: #fff;
    border-radius: 3rem;,
    background-color: #fff;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space between;
}

.Uzmanlıklarımız .box-container .box img
{
    width: 100%;
    object-fit: cover;
    
}

/* uzmanlıklarımız end*/